.dropdown-divider2 {
    height: 0;
    margin: .2rem 0;
    overflow: hidden;
    border-top: 2px solid #000000;
    padding-bottom: .3rem;
        
}

.lista-plano {
    border-top: 1px solid rgba(0,0,0,.2);
}